# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

* List commonly used languages in data science
* List commonly used languages in data science
* Indicate development environment open source tools used in data science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. BeautifulSoup
3. Seaborn

| Data Science Tools |
|--------------------|
|Jupyter|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Francisco Asiedu Oduro